{% extends "navbar/navbar_page.html"%}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    {% if not start_conversation %}
    <section class="d-flex flex-column justify-content-between">
        <span class="text-success"><h5>Last message:</h5></span>
        <blockquote class="ml-2 blockquote">
          <p>&ldquo; {{last_message}} &bdquo;</p>
          <footer class="blockquote-footer"><cite title="sender">{{last_message.sender.user}}</cite></footer>

        </blockquote>
    </section>
    {% endif %}
    {% crispy form %}
</div>
{% endblock %}