{% extends "base.html" %}
    {% block body %}
        welcome to the index page
        here you can manage your friendships/requests
        <br>
        click <a href="{% url 'friendship:show_friendships' %}">here</a>
        to show a list of your friendships and manage them.
        <br>
        click <a href="{% url 'friendship:requests_received' %}">here</a>
        to show the requests received and handle them.
        <br>
        click <a href="{% url 'friendship:requests_sent' %}">here</a>
        to show the requests you've sent and delete them.
        <br>
    {% endblock %}
