{% load friendship.tags %}
<div class="card align-items-center" id="profile-pic" >
  <img width="" height="" class="" src="{{profile.get_image}}" alt=""/>
  <div class="card-body" style="text-align: center;">
    <h3 class="card-title">{{profile.user.first_name|capfirst}} {{profile.user.last_name|capfirst}}</h3>
    <h6>{{profile.actual_job}}</h6>
    <p class="card-text">{{profile.description}}</p>
  </div>
  <div>
    {% if not owner %}
      {% if is_request_received or is_request_sended %}
      <button class="btn btn-primary" disabled>{% if is_request_sended %}request sended{% else %}confirm request{% endif %}</button>
      {% elif not are_friends %}
      {% add_friend_button profile.user %}
      {% endif %}
    {% endif %}
  </div>
</div>