{% extends "navbar/navbar_page.html" %}
{% load notifications_tags %}
  {% block content %}
  <div class="container">
    {% if not unread %}
    {% include '_paginator.html' %}
    {% endif %}
    <table class="table">
      <thead>
        <tr>
          <th class="" scope="col" style="text-align: center;"></th>
          <th class="" scope="col" style="text-align: center;"></th>
          <th class="" scope="col" style="text-align: center;"></th>
        </tr>
      </thead>
      <ul class="nav nav-tabs nav-fill ">
        <li class="nav-item" >
          <a class="nav-link {% if unread %} active {% endif %}" href="{% url 'account:notifications_unread' user %}">Unreaded</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if not unread %} active {% endif %}" href="{% url 'account:notifications_read' user %}">Readed</a>
        </li>
      </ul>
      {% for notification in notification_list %}
      <tr class="notification" data-type="{{notification.verb}}" data-url="{{ notification.target.get_absolute_url }}" data-key="{{notification.target.id}}" class='{% if notification in unreaded_notifications %} alert alert-success {% endif %}'>
        <td style="width:100px;">
          <img clas="img img-fluid" src="{{notification.actor.profile.get_image}}" style="width:100%;"/>
        </td>
        <td>{{notification.description}}</td>

        {% if notification.verb == 'request' %}
          {% if notification.target.status == notification.target.PENDING %}
            <td><button data-url="{{ notification.target.get_absolute_url }}" data-action="accept" class="notification-button btn btn-primary">accept</button></td>
            <td><button data-url="{{ notification.target.get_absolute_url }}" data-action="reject" class="notification-button btn btn-primary">reject</button></td>
          {% endif %}
        {% endif %}

        <td>received {{notification.timesince}} ago..</td>
      {% endfor %}
    </table>
  </div>
  {% endblock %}
  {% block js %}
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

  <script type="text/javascript">
  function csrfSafeMethod(method) {
  // these HTTP methods do not require CSRF protection
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
  $().ready(function(){
    $('.notification-button').click(function(){
      var csrftoken = Cookies.get('csrftoken');
      $.ajax({
        type: 'post',
        url: $(this).data('url'),
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        },
        data: {'action': $(this).data('action')},
        success: function(data){
          location.reload()
        }
      });
    });
  });
  </script>
  {% endblock %}

