{% extends "navbar/navbar_page.html" %}
{% load crispy_forms_tags %}
    {% block content %}
    <div class="container">
        <section>
            <h3>Update Profile</h3>
            {% if user.first_access %}
            <p>Fill the fields below to set up your profile!</p>
            {% else %}
            <p>Fill or replace fields to update your profile.</p>
            {% endif %}
        </section>
        <section>
            {% if f2.img.errors %}
                <div class="alert alert-danger">{{f2.img.errors.as_text}}</div>
             {% endif %}
            <form class="" action="" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {% crispy f1 %}
                {% crispy f2 %}
                <input class="btn btn-primary" type="submit" name="" value="Update">
            </form>
        </section>
    </div>
    {% endblock %}
