{# {% extends "navbar/navbar_page.html" %} #}
{% extends "navbar/navbar_page.html" %}
{% load staticfiles %}
{% load marathon.counter %}
{% load account.tags %}
{% load skiller.tags %}

{% block content %}
<div id="profile-container" style="border: 10px solid black;" class="d-flex flex-rows">
  <div class="container-fluid" id="profile-content" style="border: 10px solid blue;" class="d-flex flex-column">
    <section>
      <div class="d-flex" id="messages-box"" style="text-align: ceneter;"></div>
      {% list_messages %}
    </section>
    {% include 'account/_profile_card.html' %}
    {% if owner %}
      {% if just_logged_in %}
      <h2>Welcome {% if not user.first_access %}back{% endif %} {% if user.first_access %}to your fresh new profile page{% endif %} {{profile.user.first_name|capfirst}}!</h2>
      {% endif %}
    {% endif %}
    <section>
      <h4>Skills</h4>
      {% list_skills profile %}
    </section>

    {# TODO part #}
    <section>
      <h4>Projects</h4>
      {% for project in profile.projectpages.all %}
        <a href="{% url 'projectpager:project_detail' user.email project.pk %}">{{project}}</a>
      {% endfor %}
    </section>
      <h4>Contacts</h4>
      {% for friend in friends %}
      <p><a href="{% url 'account:profile_detail' friend %}">{{friend}}</a></p>
      {% endfor %}
    <section>
      <a href="{% url 'projectpager:invite' user %}">add contact to a group</a>
    </section>
</div>
</div>
{% endblock %}

{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script type="text/javascript" src="{% static 'friendship/js/main.js' %}"></script>
  <script type="text/javascript" src="{% static 'skiller/js/main.js' %}"></script>
{% endblock %}


