{% extends "navbar/navbar_page.html"%}
{% load guardian_tags %}
{% block content %}
<div class="container">
  <section>
    <h2>Welcome to <em>{{projectpage.name}}</em> project</h2>
    {% get_obj_perms user for projectpage as "guardian_perms" %}
    {% if 'can_open_threads' in guardian_perms %}
      <p><a href="{% url 'projectpager:project_update' user projectpage.pk %}">modify</a> project attributes</p>
    {% endif %}
    {{projectpage.description}}
  </section>
  <section>
    <p><a href="{% url 'projectpager:create_thread' user.email projectpage.pk %}">Post a new thread</a></p>
    <p>threads:</p>
    <table class="table">
      {% for thread in projectpage.threads.all %}
      <tr style="text-align: center;">
        <td style="width:100px;">
          <img clas="img img-fluid" src="{{thread.created_by.get_image}}" style="width:100%;"/>
        </td>
        <td>
          <a href="{% url 'projectpager:thread_detail' user.email projectpage.pk thread.pk %}">{{thread}}</a>
        </td>
        <td>
          posted by {{thread.created_by.user}}
        </td>
      </tr>
      {% endfor %}
    </table>
  </section>
</div>
{% endblock %}
