{% extends "base.html" %}

{% load staticfiles %}
{% load notifications_tags %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}"/>
{% endblock %}

{% block heading %}
<div class="container">

<nav class="d-flex flex-row-reverse navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;" >
  <a class="navbar-brand" href="#">
    <div class="brand-logo-svg">
      <a href="{% url 'account:profile_detail' user.email %}">
        <img id="logo" src="{% static 'svg/globe.svg' %}"/>
        <span id="slogan">&copy;Djob, get a job!</span>
      </a>
    </div>
  </a>
  <button class="navbar-toggler" onclick="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {% include "navbar/_navbar_menu.html" %}
</nav>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
<script>
  $().ready(function(){
    function FetchUnreadedMessagesCount(){
      var target = $('#messanger-badge');
      $.ajax({
        url: target.data('url'),
        datatype: 'json',
        success: function(data){
          if(data.unreaded_count !== 0){
            target.html(data.unreaded_count);
            target.css('visibility', 'visible');
          }
        }
      });
      setTimeout(FetchUnreadedMessagesCount, 1500);
    }
    setTimeout(FetchUnreadedMessagesCount, 1500);
  });
</script>
{% block js %}{% endblock %}
{% endblock %}

