{% extends "base.html" %}

{% load staticfiles %}
{% load notifications_tags %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}"/>
{% endblock %}

{% block heading %}
<div class="container">
<nav class="navbar navbar-expand-md navbar-light bg-faded margin-auto">
  <a class="navbar-brand" href="#">
    <div class="brand-logo-svg">
        <img id="logo" src="{% static 'svg/globe.svg' %}"/>
        <span id="slogan">&copy;Djob, get a job!</span>
    </div>
  </a>
  <button class="navbar-toggler" onclick="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  {% include "navbar/_navbar_menu.html" %}
</nav>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/ajax_menu.js'%}"></script>
{% endblock %}
