{% extends "navbar/navbar_page.html"%}
{% load guardian_tags %}
{% load account.tags %}
{% block content %}
<div class="container">
  {% list_messages %}
  <section>
    <h2>Welcome to <em>{{projectpage.name}}</em> project</h2>
    <h5>Admin: <a href="{{projectpage.owner.get_absolute_url}}">{{projectpage.owner.user}}</a></h5>
    {% get_obj_perms user for projectpage as "guardian_perms" %}
    {% if projectpage.owner == user.profile %}
      <p><b>Hey admin!</b> <a href="{% url 'projectpager:project_update' user projectpage.pk %}">modify</a> project attributes</p>
    {% endif %}
    <p>{{projectpage.description}}</p>
  </section>
  <section>
    {% if 'can_open_threads' in guardian_perms %}
      <p><a href="{% url 'projectpager:create_thread' user.email projectpage.pk %}">Post a new thread</a></p>
    {% endif %}
    <p>threads:</p>
    {% include '_paginator.html' %}
    <table class="table">
      {% for thread in threads %}
      <tr style="text-align: center;">
        <td style="width:100px;">
          <img clas="img img-fluid" src="{{thread.created_by.get_image}}" style="width:100%;"/>
        </td>
        <td>
          <a href="{% url 'projectpager:thread_detail' user.email projectpage.pk thread.pk %}">{{thread}}</a>
        </td>
        <td>
          posted by {{thread.created_by.user}}
        </td>
      </tr>
      {% endfor %}
    </table>
  </section>
</div>
{% endblock %}
