<table class="table">
    {% for skill in skills %}
    <tr>
      <td style="text-align: center;">
      <a href="{% url 'skill:skill_detail' skill.pk %}">
      {{skill}}
      </a>
      <span class="badge badge-info">
        {{skill.confirmation_set.all.count }}
      </span>
    </td>
    <td style="text-align: center;">
      {% if not owner %}
      <button
        data-key="{{skill.pk}}"
        data-url="{% url 'skill:confirm_skill' profile.user.email %}"
        class="btn btn-primary confirmation-button"
        href="#">confirm this skill
      </button>
      </li>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
</table>
