{% load staticfiles %}
{% if owner %}
<a href="{% url 'skill:add_skill' %}">add some skill</a>
{% elif are_friends %}
<a href="{% url 'skill:suggest_skill' profile.user.email %}">suggest skill to {{profile.user.first_name}}</a>
{% endif %}
<table class="table">
    {% for skill in skills %}
    <tr>
      <td>
        <div class="card d-flex">
          <div class="card-body">
            <h5 class="card-title">
            {% if owner %}<button class="remove-skill-button" data-url="{% url 'skill:delete_skill' user.email %}" data-id="{{skill.pk}}"><img class="img" src="{% static 'svg/x.svg' %}"></button>{% endif %}
            {{skill}}
            <span class="badge badge-info">
            <a href="{% url 'skill:skill_detail' skill.pk %}">{{skill.confirmation_set.all.count}}</a>
            </span>
            </h5>
            <p class="card-text">{{skill.description}}</p>
          </div>
        </div>
      </td>
      <td style="text-align: center;">
        {% if not owner and are_friends %}
        <button
          data-key="{{skill.pk}}"
          data-url="{% url 'skill:confirm_skill' profile.user.email %}"
          class="btn btn-primary confirmation-button"
          href="#">confirm this skill
        </button>
        </li>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
</table>
